@using Microsoft.AspNetCore.Components.Web
@using Microsoft.Extensions.Localization
@using Radzen.Blazor

@inject IStringLocalizer<PageNotFound> Localizer

<div class="nn-page-title nn-pt1"><i class="fas fa-shield-alt"></i> @Localizer["Page Not Found"]</div>
<br />
<RadzenCard>
    <div class="row">
        <div class="col-12 text-center">
            <h1>@Localizer["Page Not Found"]</h1>
        </div>
        <div class="col-12 text-center">
            <br />
            <i class="fas fa-shield-alt fa-10x"></i>
        </div>
        <div class="col-12 text-center">
            <br />
            <br />
            <h2>@Localizer["Sorry, there's nothing at this address."]</h2>
        </div>
    </div>
</RadzenCard>